<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,850},{178,136}}</string>
                <key>offset</key>
                <string>{2,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,164},{178,136}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>fire10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{250,286}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{250,286}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>fire11.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,286},{240,282}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{240,282}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>fire12.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,518},{236,270}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{236,270}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>fire13.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1048},{194,234}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,22},{194,234}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>fire14.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1244},{178,210}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,34},{178,210}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>fire15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1259},{160,186}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,48},{160,186}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1051},{206,210}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,90},{206,210}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,756},{234,250}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,50},{234,250}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,791},{258,260}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,40},{258,260}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>fire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,788},{258,264}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,36},{258,264}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>fire6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,531},{258,270}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,30},{258,270}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>fire7.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,528},{258,280}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{258,280}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>fire8.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,258},{258,286}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{258,286}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>fire9.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{254,288}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{254,288}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>glow00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,992},{206,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,246}}</string>
                <key>sourceSize</key>
                <string>{206,246}</string>
            </dict>
            <key>glow_blue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,742},{106,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ranshao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,590},{150,112}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,68},{150,112}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>ranshao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1380},{150,174}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>ranshao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,438},{150,116}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,64},{150,116}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>ranshao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,286},{150,122}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{150,122}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>ranshao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1573},{150,146}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{150,146}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>ranshao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1424},{150,148}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{150,148}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>ranshao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1352},{150,174}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>ranshao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1200},{150,174}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>ranshao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1421},{150,174}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>ranshao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1048},{150,174}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>startImg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,200}}</string>
                <key>sourceSize</key>
                <string>{720,200}</string>
            </dict>
            <key>startLogo011.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1200},{178,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,70},{178,210}}</string>
                <key>sourceSize</key>
                <string>{300,350}</string>
            </dict>
            <key>startLogo02.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,204},{352,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,80}}</string>
                <key>sourceSize</key>
                <string>{352,80}</string>
            </dict>
            <key>startLogo033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{353,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,73}}</string>
                <key>sourceSize</key>
                <string>{353,73}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameStart.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76f29caddbcabcd0b537a0f90b56e85f$</string>
            <key>textureFileName</key>
            <string>gameStart.png</string>
        </dict>
    </dict>
</plist>
